{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "9cc7f460-35a4-4dbd-9556-e0563d7e3c43",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "",
   "name": ""
  },
  "language_info": {
   "name": ""
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
